<div class="row">
  <div class="col-md-12">
    <h2>{{user.name}}</h2>
  </div>

  <div class="col-md-4">
    <div class="well">
      <ul class="list-unstyled">
        <li><img class="rounded mx-auto d-block" src="{{user.avatar}}"
          style="max-height: 100%; max-width: 100%; margin-top: 20px; transition: opacity 0.5s; opacity:0;"
          onload="this.style.opacity=1;"></li>
        <li><strong>Country：</strong><span class="fi fi-{{user.country}}"></span> {{user.country}}</li>
        <li><strong>Email：</strong> {{user.email}}</li>
      </ul>
    </div>
  </div>

  <div class="col-md-8">
    <p style="white-space: break-spaces;">{{user.description}}</p>
  </div>

  <hr>
</div>  
<div class="text-center">
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</div>