<div class="d-flex ">
{{!-- 基本資料 --}}
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  {{!-- 已評課程 --}}
  <div class="row">
    <span>已評論課程</span>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  
  
  {{!-- <div class="card">
    <div class="card-header">
      {{#if user.Comments.length}}
      {{user.Comments.length}}
      {{else}} 0
      {{/if}}
      已評論餐廳
    </div>
    <div class="row row-cols-5 g-1">
      {{#each user.Comments}}
      <div class="col">
        <div class="card h-100">
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src="{{this.Restaurant.image}}" class="card-img-top">
          </a>
          <div class="card-body">
            <a href="/restaurants/{{this.Restaurant.id}}">
              <h5 class="card-title">{{this.Restaurant.name}}</h5>
            </a>
            <p class="card-text">{{this.text}}</p>
            <p class="card-text"><small class="text-muted">{{relativeTimeFromNow this.createdAt}}</small></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div> --}}
</div>
