<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{teacher.User.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <h2>{{teacher.User.name}}</h2>
    <div>
      <h5>關於我</h5>
      <p>{{teacher.User.description}}</p>
    </div>
    <p><a class="btn btn-outline-secondary" href="/teachers/{{teacher.id}}/edit">edit</a></p>
  </div>

  <div class="col-md-8">
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>{{teacher.User.name}}</strong></li>
        <li>{{teacher.User.email}}</li>
      </ul>
      {{!-- {{#ifCond user.id currentUser.id}} --}}
      <p><a class="btn btn-outline-secondary" href="/users/{{user.id}}/edit">edit</a></p>
      {{!-- {{/ifCond}} --}}
    </div>
  </div>
</div>
<hr>


<a class="btn btn-outline-secondary mt-2" href="javascript:history.back()">Back</a>